body {
  background-color: black;
}

div.container {
  background-color: darkgrey;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}

button {
  margin: 2%;
}

table {
  background-color: white;
  table-layout: fixed;
  width: 100%;
  border: 3px solid purple;
}

.alert {
  background-color: pink;
  border: 3px solid red;
}

#loader-gif {
  max-width: 50%;
}

#loader, #result-cont {
  display:none;
}