body {
  background-color: darkblue;
}

div.container {
  background-color: darkgrey;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}

button {
  margin: 2%;
}